USE [master]
GO
/****** Object:  Database [second_hand_db]    Script Date: 29.05.2025 20:23:39 ******/
CREATE DATABASE [second_hand_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'second_hand_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\second_hand_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'second_hand_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\second_hand_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [second_hand_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [second_hand_db]
GO
/****** Object:  Table [dbo].[esya]    Script Date: 29.05.2025 20:23:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[esya](
	[esyaID] [int] IDENTITY(1,1) NOT NULL,
	[esyaAdi] [nvarchar](75) NULL,
PRIMARY KEY CLUSTERED 
(
	[esyaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kullaniciBilgileri]    Script Date: 29.05.2025 20:23:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kullaniciBilgileri](
	[kullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[kullaniciAdi] [nvarchar](50) NULL,
	[mailAdresi] [nvarchar](50) NULL,
	[telefon] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[kullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[urunBilgi]    Script Date: 29.05.2025 20:23:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[urunBilgi](
	[urunID] [int] IDENTITY(1,1) NOT NULL,
	[urunadi] [nvarchar](75) NULL,
	[urunyasi] [decimal](18, 0) NULL,
	[hasarDurumu] [nvarchar](3) NULL,
	[urunFiyati] [decimal](18, 0) NULL,
	[esyaID] [int] NULL,
	[kullaniciID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[urunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[urunBilgi]  WITH CHECK ADD FOREIGN KEY([esyaID])
REFERENCES [dbo].[esya] ([esyaID])
GO
ALTER TABLE [dbo].[urunBilgi]  WITH CHECK ADD FOREIGN KEY([kullaniciID])
REFERENCES [dbo].[kullaniciBilgileri] ([kullaniciID])
GO
USE [master]
GO
